<form>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Usuário</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <div class="container-actions">
        <ion-button>
          <span>Login</span>
          <ion-icon name="send" slot="end"></ion-icon
        ></ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</form>
